@import "tailwindcss";

@keyframes slow-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-slow-scroll {
    animation: slow-scroll 40s linear infinite;
}